# Ignore node_modules folder
node_modules/

# Ignore Parcel's cache folder
.cache/

# Ignore build output (dist)
dist/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore npm debug files
npm-debug.log*

# Ignore Parcel's lockfile
.parcel-cache

# Ignore macOS system files
.DS_Store

# Ignore IDE specific files (optional)
.vscode/
.idea/

# Ignore SASS cache files (if you use SCSS)
.sass-cache/
